* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
/* header {
    
} */
body {
    background-color: #47576a; 
    position: relative;
    height: 200vh;
    color: black;
    font-family: monospace;
    background-image: conic-gradient(from 0deg, orange, orangered, orange);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: orange; */
    position: relative;
}

.transparent {
    width: 1470px;
    height: 700px;
    background-color: transparent;
    position: absolute;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.8) 100%),url(..//Netflix-Clone/images/bg.jpg);
    z-index: 1.1;
    top: 0rem;
}

header {
    width: 100%;
    height: 5rem;
}
main {
    width: 100%;
}
.top{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70px;
    z-index: 1.1;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-bottom: 3px solid white;
}
.top li {
    display: flex;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
}
.options ul{
    display: flex;
}
.options ul li img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
}
.options svg {
    width: 32px;
    height: 32px;
}
.train svg {
    width: 45px;
    height: 60px;
    margin-top: 0rem;
}
li {
    list-style-type: none;
}
svg marker {
    color: white;
}
/* .login {
    margin-left: 54rem;
} */
 .lang {
    position: absolute;
    right: 1rem;
 }
 .login {
    position: absolute;
    right: 11rem;
 }
.login button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
}
.login button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
.login button:hover span {
    color: black;
}
.login button::before,
.login button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.login button::before {
    content: "";
    background-color: rgb(3, 3, 208);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.login button:hover::before {
    transform: translate3d(100%, 0, 0);
}
                       /* Language Button  */
.lang button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
}
.lang button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
.lang button:hover span {
    color: black;
}
.lang button::before,
.lang button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.lang button::before {
    content: "";
    background-color: orange;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.lang button:hover::before {
    transform: translate3d(100%, 0, 0);
}
.lang button {
    width: 7rem;
    height: 3rem;
    border-radius: 7px;
    border: 0.5px solid black;
    background-color: transparent;
    border: none;
    color: black;
    background-color: rgb(24, 252, 176);
}
                /* fromTo Body  */
 main {
    position: absolute;
    z-index: 1.9;
 }
 .fromTo {
    margin-top: 0.2rem;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.fa-solid {
    margin-top: 3.5rem;
    font-size: 2.5rem;
}
.fromToBody {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}
select {
    border: none;
}
.From,.To {
    margin-top: 1rem;
    height: 18%;
    outline: 0.25px solid grey;
    outline-offset: 0.2rem;
    padding: 1rem;
}
#from,#to {
    width: 14rem;
    height: 3rem;
    font-size: 1.2rem;
}
